.suggestion {
  position: relative;
  margin-top: 1px;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  max-height: 600px;
  min-height: auto;
  overflow-y: scroll;
  border-radius: 10px;
}
.right {
  position: absolute;
  right: 0;
}
.empdata:hover {
  cursor: pointer;
  background-color: lightgray;
}
.large {
  font-size: 35px;
}
.small {
  font-size: 24px;
  color: mediumslateblue;
}
span {
  padding: 4px;
}
